span {
    display: inline;
    background-color: rgb(255, 0, 0);
}

div {
    display: block;
    background-color: cyan;
    height: 100px;
    margin: 30px;
    padding: 10px;
}

h1 {
    padding: 10px;
}

li {
    font-size: 2rem;
}