body {
  font-family: Arial, Helvetica, sans-serif;
}

.react-challenges {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.react-lessons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winning {
    display: flex;
    justify-content: space-around;
}